PORT=9000
DEV_PORT=3000
CLIENT_ORIGIN_URL=<client-origin-url>
CLIENT_ORIGIN_URL_WWW=<client-origin-url-with-www-prefix>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=<postgres-user>
POSTGRES_PASSWORD=<postgres-user-password>
POSTGRES_DATABASE=<postgres-database-name>
